


{% extends "base.html" %}
{% load static %}


{% block content %}



	<!--- BASE	-->
		
		<!-- START TEAM -->
		<section class="team_area section-padding">
			<div class="container">									
				<div class="section-title text-center">
					<h2>Meet our Instructors</h2>
					<p>We offer a brand new approach to the most basic learning paradigms. Choose from a wide range of learning options and gain new skills! Our school is know.</p>
				</div>						
				<div class="row">													
					<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="our-team">
							<div class="team-content">
								<a href="#"><img src="assets/img/team/team1.jpg" alt=""></a>
								<ul class="social-links">
									<li><a href="#"><i class="fa-solid fa-x"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
								</ul>
							</div>
							<div class="team-prof">
								<h3>Bilkis Vabi</h3>
								<span>Web designer</span>
							</div>
							<div class="sth_det2">
								<span class="ti-file"> <u>04 Course</u></span>
								<span class="ti-user"> <u>27 Student</u></span>
							</div>									
						</div>
					</div><!--- END COL -->										
					<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="our-team">
							<div class="team-content">
								<a href="#"><img src="assets/img/team/team2.jpg" alt=""></a>
								<ul class="social-links">
									<li><a href="#"><i class="fa-solid fa-x"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
								</ul>
							</div>
							<div class="team-prof">
								<h3>Mood Wasim</h3>
								<span>TemplateMonster company</span>
							</div>
							<div class="sth_det2">
								<span class="ti-file"> <u>06 Course</u></span>
								<span class="ti-user"> <u>41 Student</u></span>
							</div>							
						</div>
					</div><!--- END COL -->										
					<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="our-team">
							<div class="team-content">
								<a href="#"><img src="assets/img/team/team3.jpg" alt=""></a>
								<ul class="social-links">
									<li><a href="#"><i class="fa-solid fa-x"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
								</ul>
							</div>
							<div class="team-prof">
								<h3>Shyinn tim</h3>
								<span>Codecanyou</span>
							</div>
							<div class="sth_det2">
								<span class="ti-file"> <u>13 Course</u></span>
								<span class="ti-user"> <u>31 Student</u></span>
							</div>
						</div>
					</div><!--- END COL -->										
					<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="our-team">
							<div class="team-content">
								<a href="#"><img src="assets/img/team/team4.jpg" alt=""></a>
								<ul class="social-links">
									<li><a href="#"><i class="fa-solid fa-x"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
								</ul>
							</div>
							<div class="team-prof">
								<h3>Shorif shorifa</h3>
								<span>Tsc chottor</span>
							</div>
							<div class="sth_det2">
								<span class="ti-file"> <u>07 Course</u></span>
								<span class="ti-user"> <u>24 Student</u></span>
							</div>
						</div>
					</div><!--- END COL -->							  
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>
		<!-- END TEAM -->	
		
		
    </body>
</html>




{% endblock %}