{% load static %}
<!-- START NAVBAR -->  
		<div id="navigation" class="navbar-light bg-faded site-navigation">
			<div class="container-fluid">
				<div class="row">
					<div class="col-20 align-self-center">
						<div class="site-logo">
							<a href="{% url 'siteui:index' %}"><img src="{% static 'assets/img/logo.png' %}" alt=""></a>
						</div>
					</div><!--- END Col -->
					
					<div class="col-60 d-flex">
						<nav id="main-menu">
							<ul>
								<li class="menu-item-has-children"><a href="#">Home</a>
									<ul>										
										<li><a href="{% url 'siteui:index' %}">Home 01</a></li>
										<li><a href="{% url 'siteui:index2' %}">Home 02</a></li>
									</ul>
								</li>
								<li><a href="{% url 'siteui:about' %}">About</a></li>
								<li class="menu-item-has-children"><a href="{% url 'siteui:course' %}">Course</a>
									<ul>										
										<li><a href="{% url 'siteui:course' %}">Course</a></li>
										<li><a href="{% url 'siteui:course_detail_page' %}">Course Details</a></li>
									</ul>
								</li>								
								<li class="menu-item-has-children"><a href="#">Pages</a>
									<ul>										
										<li><a href="{% url 'siteui:instructor' %}">Instructor</a></li>
										<li><a href="{% url 'siteui:instructor_detail' %}">Instructor Details</a></li>
										<li><a href="{% url 'siteui:pricing' %}">Pricing Plan</a></li>
										<li><a href="{% url 'siteui:faq' %}">Faq Page</a></li>
										<li><a href="404.html">404</a></li>				
									</ul>
								</li>							
								<li class="menu-item-has-children"><a href="blog.html">Blog</a>
									<ul>										
										<li><a href="{% url 'Blog:blog_list' %}">Blog</a></li>
										{% for blog in blogs %}
											<li>
											<a href="{% url 'Blog:blog_detail' pk=blog.pk %}">Blog Detail</a>
											</li>
											{% endfor %}
										{#<li><a href="{% url 'Blog:blog_detail' pk=blogs.pk %}">Blog Details</a></li>#}
									</ul>
								</li>							  
								<li><a href="{% url 'siteui:contact' %}">Contact</a></li>
							</ul>
						</nav>
					</div><!--- END Col -->
					
					<div class="col-20 d-none d-xl-block text-end align-self-center">
						<a href="#" class="header-btn">Sign In</a>
						<a href="contact.html" class="btn_one">Sign Up</a>
					</div><!--- END Col -->
					
					<ul class="mobile_menu">						
						<li><a href="#">Home</a>
							<ul class="sub-menu">										
								<li><a href="index.html">Home 01</a></li>
								<li><a href="index2.html">Home 02</a></li>						
							</ul>
						</li>	
						<li><a href="about.html">About</a></li>						
						<li><a href="#">Course</a>
							<ul class="sub-menu">										
								<li><a href="{% url 'siteui:course' %}">Course</a></li>
								<li><a href="{% url 'siteui:course_detail_page' %}">Course Details</a></li>									
							</ul>
						</li>
						<li><a href="#">Pages</a>
							<ul class="sub-menu">									
								<li><a href="{% url 'siteui:instructor' %}">Instructor</a></li>
								<li><a href="{% url 'siteui:instructor_detail' %}">Instructor Details</a></li>
								<li><a href="{% url 'siteui:pricing' %}">Pricing Plan</a></li>
								<li><a href="{% url 'siteui:faq' %}">Faq Page</a></li>			
								<li><a href="404.html">404</a></li>							
							</ul>
						</li>			
						<li><a href="{% url 'Blog:blog_list' %}">Blog</a>
							<ul class="sub-menu">										
								<li><a href="{% url 'Blog:blog_list' %}">Blog</a></li>
										{% for blog in blogs %}
											<li>
											<a href="{% url 'Blog:blog_detail' pk=blog.pk %}">Blog Detail</a>
											</li>
											{% endfor %}
							</ul>
						</li>						
						<li><a href="{% url 'siteui:contact' %}">Contact</a></li>
					</ul>			
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</div> 	  
<!-- END NAVBAR -->	